.post-card {
  background: white;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.post-header {
  display: flex;
  align-items: center;
  padding: 12px;
  font-weight: bold;
}

.post-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.post-actions {
  padding: 10px 14px;
  display: flex;
  gap: 15px;
}

.post-actions span {
  font-size: 20px;
  cursor: pointer;
}

.post-caption {
  padding: 0 14px 14px;
  font-size: 14px;
}
